@using Research.Core.Domain.Localization
@{
    ViewBag.Title = "About";

    IEnumerable<Language> languages = ViewBag.AllLanguage;
}
<h1>Đây là view ~/Views/</h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (languages != null)
{
    foreach (var lang in languages)
    {
        <h1>@lang.Name</h1>
        <p>@lang.Id</p>
    
    
    <h1></h1>
    }
}
