
@{
    ViewBag.Title = "PageNotFound";
    Layout = null;
}
<html>
<head>
    <title>Trang báo lỗi</title>
</head>
<body>
    <h2>Đây là trang báo lỗi PageNotFound</h2>
</body>
</html>


