@using Research.Core.Domain.Localization
@{
    IEnumerable<Language> languages = ViewBag.AllLanguage;
}
<h1>Đây là view trong thư mục theme</h1>

@if (languages != null)
{
    foreach (var lang in languages)
    {
        <h3>@lang.Id</h3>
        <h1>@lang.Name</h1>
        


        <h1></h1>
    }
}